// 底部模块
#footer-container{
    width: 100%;
    min-width: 1152px;
    height: 604px;
    background-color: #f3f1f2;
    // 底部上层部分
    .footer-top{
        width: 1152px;
        min-width: 1152px;
        height: 213px;
        margin:0 auto;
        .footer-top-left{
            width: 113px;
            height: 37px;
            text-align: center;
            line-height: 37px;
            float: left;
            margin-left: 214px;
            margin-right: 154px;
            margin-top: 130px;
        .footer-top-left-pic1{
            width: 34px;
            height: 34px;
            float: left;
            background: url("/imgaes/pic1.png") no-repeat center center;
            background-position: -92px -57px;
        };
            &:hover{
                a{
                    
                    color:orangered;
                }
            };
            .ppp{
                margin-left: 50px;
            }
            p{
                margin-left: 13px;
                a{
                    font-size: 15px;
                    color: #666666;
                }
            };
        }
        .footer-top-center{
            width: 153px;
            height: 37px;
            text-align: center;
            line-height: 37px;
            float: left;
            margin-right: 117px;
            margin-top: 130px;
            .footer-top-center-pic2{
                width: 34px;
                height: 34px;
                float: left;
                background: url("/imgaes/pic1.png") no-repeat center center;
                background-position: -128px -57px;
            };
            &:hover{
                a{
                    
                    color:orangered;
                }
            };
            p{
                margin-left: 13px;
                a{
                    font-size: 15px;
                    color: #666666;
                }
            };
        };
        .footer-top-right{
            width: 194px;
            height: 37px;
            // text-align: center;
            line-height: 36px;
            float: left;
            margin-top: 130px;
            .footer-top-right-pic3{
                width: 34px;
                height: 34px;
                float: left;
                background: url("/imgaes/pic1.png") no-repeat center center;
                background-position: -164px -57px;
            };
            &:hover{
                a{
                    
                    color:orangered;
                }
            };
                p{
                    margin-left: 45px;
                    a{
                        font-size: 14px;
                        color: #666666;
                    }
                };
            }
   };
//    底部中间层
   .footer-center{
       width: 100%;
       height: 273px;
       background-color: #ffffff;
       .footer-center-wrap{
           width: 1152px;
           height: 273px;
           margin: 0 auto;
           .dl-1{
               width: 172px;
               height: 175px;
               margin-top: 45px;
               float: left;
               margin-right: 150px;
               
               dt{
                   margin-bottom: 16px;
                   font-weight: bold;
                   a{
                       font-size: 13px;
                       color: #333333;
                   }
                   &:hover{
                    a{
                        color: orangered;
                    }
                }
               };
               div{
                   width: 9px;
                   height: 3px;
                   background-color:#bfbfbf;
               };
               dd{
                   
                   font-size: 12px;
                   line-height: 35px;
                   a{
                    color: #666666;
                   }
               }
           };
           .dl-2{
            width: 172px;
            height: 175px;
            margin-top: 45px;
            float: left;
            margin-right: 164px;
            dt{
                margin-bottom: 16px;
                font-weight: bold;
                a{
                    font-size: 13px;
                    color: #333333;
                }
                &:hover{
                    a{
                        color: orangered;
                    }
                }
            };
            div{
                width: 9px;
                height: 3px;
                background-color:#bfbfbf;
            };
            dd{
                
                font-size: 12px;
                line-height: 35px;
                a{
                 color: #666666;
                }
            }
        };
        .dl-3{
            width: 172px;
            height: 175px;
            margin-top: 45px;
            float: left;
            margin-right: 150px;
            dt{
                margin-bottom: 16px;
                font-weight: bold;
                a{
                    font-size: 13px;
                    color: #333333;
                }
                &:hover{
                    a{
                        color: orangered;
                    }
                }
            };
            div{
                width: 9px;
                height: 3px;
                background-color:#bfbfbf;
            };
            dd{
                
                font-size: 12px;
                line-height: 35px;
                a{
                 color: #666666;
                }
            }
        };
        .dl-4{
            width: 172px;
            height: 175px;
            margin-top: 45px;
            float: left;
            dt{
                margin-bottom: 16px;
                font-weight: bold;
                a{
                    font-size: 13px;
                    color: #333333;
                }
                &:hover{
                    a{
                        color: orangered;
                    }
                }
            };
            div{
                width: 9px;
                height: 3px;
                background-color:#bfbfbf;
            };
            dd{
                
                font-size: 12px;
                line-height: 35px;
                a{
                 color: #666666;
                }
            }
        }
       }
   }
//    底层最下层；
   .footer-bottom{
    width: 100%;
    height: 120px;
    background-color: black;
    .footer-bottom-wrap{
        width: 1152px;
        height: 120px;
        margin: 0 auto;
        .footer-bottom-pic{
            width: 210px;
            height: 56px;
            margin-left: 304px;
            margin-right: 97px;
            margin-top: 38px;
            float: left;
            background: url("/imgaes/pic1.png") no-repeat center center;
            background-position: -51px 1px;
        }
        .footer-bottom-text{
            width: 255px;
            height: 47px;
            float: left;
            margin-top: 38px;
            p{
                font-size: 12px;
                line-height: 20px;
                color:#ffffff;
                a{
                    color: #ffffff;
                }
            }
        }
    }
};
 
}